#helm
*.exe
.DS_Store
.coverage/
.idea/
.vimrc
.vscode/
/docs/helm
/docs/man
_dist/
bin/
vendor/

#hugo
/hugo
docs/public*
/.idea
hugo.exe
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
vendor/*/
*.bench
*.debug
coverage*.out

dock.sh

GoBuilds
dist


vendor
